body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "head head head"
    "nav main opt1"
    "nav opt2 opt2"
    "foot foot foot";
  grid-template-rows: 10% 60% 20% 10%;
  grid-template-columns: 10% 70% 20%;
}

#header {
  grid-area: head;
  background-color: black;
  color: white;
  text-align: center;
}

#navigation {
  grid-area: nav;
  background-color:black;
  color:white;
}


.cell {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  width: 8vw;
  max-width: 8vw;
  height: 2vh;
  max-height: 2vh;
  font-size: 1.5vw;
  cursor: cell;
  overflow: hidden;
  white-space: nowrap;
}

.cell:hover {
  background-color: lightgray;
}

.cell:focus {
  outline: none;
  vertical-align: middle;
  align-items: center;
  caret-color: white;
  color: white;
}

#spreadsheet {
  grid-area: main;
  overflow: scroll;
}

table {
/*   margin-left: 50px; */
/*   margin-top: 10px; */
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

tr:last-child {
  border-bottom: 1px solid black;
}

.vertical-header {
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 2vw;
  line-height: 5vh;
}

thead th {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 2vh;
}

#options1 {
  grid-area: opt1;
  background-color:gray;
}

#options2 {
  grid-area: opt2;
  background-color: gray;
}



#footer {
  grid-area: foot;
  background-color: black;
  color: white;
}