body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "head head head"
    "nav main opt1"
    "nav opt2 opt2"
    "foot foot foot";
  
  grid-template-rows: 10% 60% 20% 10%;
  grid-template-columns: 10% 70% 20%;
}

#header {
  background-color: black;
  color: white;
  text-align: center;
  grid-area: head;
}

#navigation {
  background-color:black;
  color:white;
  grid-area: nav;
}

.cell {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  text-align: center;
  width: 8vw;
  height: 2vh;
  line-height: 2vh;
  font-size: 3vh;
  cursor: cell;
}

.cell:focus {
  outline: none;
  cursor: text;
}

#spreadsheet {
  grid-area: main;
  overflow: scroll;
}

table {
/*   margin-left: 50px; */
/*   margin-top: 10px; */
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

tr:last-child {
  border-bottom: 1px solid black;
}

.vertical-header {
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 2vw;
  line-height: 5vh;
}

thead th {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 2vh;
}

#options1 {
  grid: opt1;
  background-color:gray;
}

#options2 {
  grid: opt2;
  background-color: gray;
}

#footer {
  background-color: black;
  color: white;
  grid-area: foot;
}